body{
    padding:0px;
    margin:0px;
    font-family: 'Koulen', cursive;;
    color: aliceblue;
}
a{
    color:aliceblue;
}
a:hover{
    color:#a90000;
    cursor: pointer;
}
.container{
    width:100%;
    display:flex;
    height:100%;
}
.sidebar{
    background-color:#0549a5;
    padding:10px;
    width:4rem;
    text-align: center;
}
.sidebar__head{
    position:fixed;
}
.but{
    border:1px black;
    border-radius: 10px;
    width:5rem;
    height: 1.5rem;
    text-align: center;
}
.main{
    text-align: center;

}
.but:hover{
    background-color:#00b9ff;
    cursor: pointer;
}
.content{
    display:flex;
    width:100%;
    background-color: #ffb300;
    flex-direction: column;
    vertical-align: middle;
}
.cont1, .cont2{
    text-align:center;
}
.cont1{
    background-image: url(luffy.webp);
    background-position: center;
}
.cont2{
    background-image: url(zoro.webp);
}
.logo{
    display: flex;
    align-items: flex-end;
}
.navbar{
    display:flex;
    justify-content: space-around;
    align-items: center;
    width:100%;
    position:fixed;
    background-color: #a90000;
    height:4rem;
}
.block{
    padding:50px;
}
.cont{
    display:flex;
}
form{
   text-align: center;
   width:100%
}
footer{
    background-color: #00b9ff;
    
}
footer h2,p{
    margin-left: 20px;
    margin-right: 20px;
}
@media (max-width: 450px){
    .cont{
        display:flex;
        flex-direction:column;
    }
}

