/* body reset */
body{
box-sizing: border-box;
}
/* Creating big box containing all the other boxes and text */
.container{
    position:relative;
    width:200px;
    height: 200px;
    margin:auto; 
}
/* Text hi */
.hi{
    position:absolute;
    text-align: center;
    width:200px;
    top:50%;
}
/* Individual boxes dimension */
.red{
    width:100px;
    height:100px;
    background-color: red;
    position: absolute;
    transform: rotate(0);
    transition-duration: 2s;
}
.yellow {
    width: 100px;
    height: 100px;
    background-color: yellow;
    position: absolute;
    left: 100px;
    transform: rotate(0);
    transition-duration: 2s;
}
.blue {
    width: 100px;
    height: 100px;
    position: absolute;
    background-color: blue;
    top: 100px;
    transform: rotate(0);
    transition-duration: 2s;
}
.green {
    width: 100px;
    height: 100px;
    background-color: green;
    position: absolute;
    left: 100px;
    top: 100px;
    transform: rotate(0);
    transition-duration: 2s;
}
/* Hover effect animation */
.container:hover .red {
    transform: rotate(90deg);
    transition-duration: 2s;
    transform-origin: top left;
    transition:transform 2s linear;
} 
.container:hover .yellow {
    transform: rotate(-90deg);
    transition-duration: 2s;
    transform-origin: top right;
    transition:transform 2s linear;
} 
.container:hover .blue {
    transform: rotate(-90deg);
    transition-duration: 2s;
    transform-origin: bottom left;
    transition:transform 2s linear;
} 
.container:hover .green {
    transform: rotate(90deg);
    transition-duration: 2s;
    transform-origin: bottom right;
    transition:transform 2s linear;
} 


