body{
    padding:0px;
    margin:0px;
    font-family: 'Koulen', cursive;;
    color: #333333;
}
a{
    color:aliceblue;
}
a:hover{
    color:#a90000;
    cursor: pointer;
}
.container{
    width:100%;
    display:flex;
    height:100%;
}
.sidebar{
    background-color:#0549a5;
    padding:10px;
    width:50px;
    text-align: center;
}
.sidebar__head{
    position:fixed;
}
.but{
    border:1px black;
    border-radius: 10px;
    width:4rem;
    height: 1.5rem;
    text-align: center;
}
.main{
    text-align: center;
    background-image: url(images/orange.webp);

}
.but:hover{
    background-color:#00b9ff;
    cursor: pointer;
}
.content{
    display:flex;
    width:100%;
    background-color: #ffb300;
    flex-direction: column;
    vertical-align: middle;
}
.cont1, .cont2{
    text-align:center;
    color:white;
}
.cont1{
    background-image: url(images/luffy.webp);
    background-position: center;
}
.cont2{
    background-image: url(images/zoro.jpg);
    background-position: center;
}
.navbar__logo{
    display: flex;
    align-self: flex-start;
}

.navbar__head{
    display:flex;
    justify-content: space-between;
}
.navbar{
    display:flex;
    align-items: center;
    width:100%;
    position:fixed;
    background-color: #a90000;
    height:4rem;
}
.block{
    padding:50px;
}
.cont{
    display:flex;
}
form{
   text-align: center;
   width:100%;
   padding-top:50px;
}
form h2{
    color:white;
    background-image: url(images/map.jpg);
}
.form_space{
    border:solid black;
    border-radius: 10px;
    width:fit-content;
    margin-left: auto;
    margin-right: auto;
}
.form_space div{
    display: flex;
    justify-content: space-between;
    padding: 10px;
}
.submit{
    background-color: #0549a5;
    color:white;
    font-weight: bold;
    border-radius: 10px;
}

.submit:hover{
    background-color:#a90000;
}
footer{
    background-color: #00b9ff;
    color:white;
}
footer h2,p{
    margin-left: 20px;
    margin-right: 20px;
}
@media (max-width: 550px){
    .cont{
        display:flex;
        flex-direction:column;
    }
    .navbar{
        height: 2rem;
    }
    .navbar__logo{
        width:100px;
    }
    .navbar__logo img{
        width:100px;
    }
    .navbar_head{
        position:relative;
    }
    .navbar,.sidebar{
        font-size: 0.7rem;
    }
    .block{
        padding-top: 60px;
    }
    .sidebar__head{
        justify-content: flex-start;
    }
    .form_space{
        font-size: 0.4rem;
    }
}

